*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(228, 63, 173, 0.315);
}

.validate{
    width: 30%;
    height: 40%;
    font-size: 30px;
    padding: 5% 5% 5% 5%;
    margin-left: 30%;
    margin-top: 10%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    color: black;
}
.otp_class{
    font-size:25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.verify{
    margin-left: 25%;
    font-size: 25px;
    background-color: aqua;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}