{% block content %}
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'cssfiles/reset_pass.css' %}">
</head>
<body>
<style>
    h3{
        color: red;
    }
</style>
    <form method="POST" action="password_reset">
        {% for message in messages %}
          <h3> {{message}} </h3>
          {% endfor %}
        {% csrf_token %}
<h2>Enter below to reset your password!</h2>
   <p class="reset_para">   Enter username: <br> <input  class="input_class" type="text" name="username"> </p>
   <p class="reset_para">   Enter your otp here : <br> <input  class="input_class" type="text" name="otp_check"> </p>
   <p class="reset_para"> Enter password    <br>  <input class="input_class"  type="password" name="password1"></p>
   <p class="reset_para">  Re-enter password<br>  <input class="input_class" type="password" name="password2"></p>
   <p >     <input class="btn"  type="submit" value="Reset Password"></p>
    </form>
    
</body>
</html>
{% endblock %}