<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate OTP</title>
    <link rel="stylesheet" href="{% static 'cssfiles/validate.css' %}"> 
</head>
<body>
     {% for message in messages %}
       {{message}}
       {%  endfor %}
    <form action="validate_otp" class="validate" method="POST">
        {% csrf_token %}
        <p>  Enter your otp here: </p>
        <p>  <input type="number" class="otp_class" name="otp_check"> </p>
      <input type="submit" value="Verify" class="verify">
    </form>
</body>
</html>